- name: create organization units (OU)
  microsoft.ad.ou:
    name: "{{ item.name }}"
  loop: "{{ domain.organizational_units }}"

- name: create groups
  microsoft.ad.group:
    scope: "{{ item.scope }}"
    name: "{{ item.name }}"
    path: "{{ item.path | default(omit) }}"
  loop: "{{ domain.groups }}"

- name: modify computers
  microsoft.ad.computer:
    name: "{{ item.name }}"
    dns_hostname: "{{ item.computer_fqdn }}"
    path: "{{ item.path }}"
  loop: "{{ domain.computers }}"

- name: create users
  microsoft.ad.user:
    password_never_expires: yes
    name: "{{ item.name }}"
    firstname: "{{ item.firstname }}"
    surname: "{{ item.lastname }}"
    password: "{{ item.password }}"
    groups:
      set: "{{ item.groups | default(omit) }}"
    path: "{{ item.path }}"
  loop: "{{ domain.users }}"
  ignore_errors: yes